<div id='pokedex'>
  <div class='pokemon-index'>

  <%= render "pokemon_form" %>

    <ul class='pokemon-list'></ul>
  </div>

  <div class='pokemon-detail'>



	</div

  ><div class='toy-detail'>
  </div>

</div>
