<% if(isOpen) { %>
  <form>
    <input type="hidden" name="card[list_id]" value="<%= list.id %>">
    <textarea id="card_title" name="card[title]"></textarea>
    <button>Add</button>
  </form>
  <button class="close">x</button>
<% } else { %>
  <button class="open">Add a card...</button>
<% } %>
