<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label for="user_user_name">User name</label>
<input id="user_user_name" type="text"
  name="user[user_name]">

<label for="user_password">Password</label>
<input id="user_password" type="password" name="user[password]">

<button>Submit</button>
