<h1> Rental Request Form </h1>

<form action="<%= cat_rental_requests_url %>" method = "post">
  <%= render "form", cat_rental_request: @cat_rental_request %>
  <button>Submit Request</button>
</form>
