<h2>Goal</h2>

<%= @goal.body %>
<br>
User: <%= @goal.user.username %><br>


Status:
<% if @goal.private? %>
  Private
<% else %>
  Public
<% end %>

<% if current_user == @goal.user %>
<%= link_to "Update Goal", edit_goal_url(@goal) %>
<% end %>
