<form>
  <input type="hidden" name="list[board_id]" value="<%= board.id %>">
  <label for="list_title">Title</label>
  <input type="text" id="list_title" name="list[title]" value="Add a list...">
  <button>Save</button>
</form>
<button class="close">X</button>
